<form method="GET" action="/offers">
  <div>
    <p>UID</p>
    <input type=text name=uid required />
  </div>

  <div>
    <p>pub0</p>
    <input type=text name=pub0 />
  </div>

  <div>
    <p>Page</p>
    <input type=number name=page />
  </div>

  <input type=submit />
</form>
